
@{
    ViewData["title"] = "Create IssueBook Page";
}


<div class="bg-light d-flex align-items-center min-vh-100 flex-fill">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card shadow rounded">
                    <div class="row g-0">

                        <div class="col-md-2"></div>

                        <div class="col-md-8 p-4">
                            <h2 class="mb-4 text-center text-primary">ISSUE BOOK</h2>

                            <form asp-action="CreateIssueBook" asp-controller="Issue" method="post">

                                <div class="mb-3">
                                    <label class="form-label">Title</label>
                                    <select name="BookId" class=" form-control" asp-items="ViewBag.books" required>
                                        <option value="">--select-Book---</option>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">User Name</label>
                                    <select name="UserId" class=" form-control" asp-items="ViewBag.members" required>
                                        <option value="">--select-Book---</option>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Issue Date</label>
                                    <input type="date" class="form-control"  name="IssueDate" required />
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Expected Return Date Date</label>
                                    <input type="date" class="form-control"  name="ExpectedReturnDate" required />
                                </div>

                                <button type="submit" class="btn btn-primary w-100">Submit</button>

                            </form>
                            <br />
                        </div>

                        <div class="col-md-2"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







@* <div class="row">
	<div calss="col-sm-3"></div>
	<div calss="col-sm-6">
		<form asp-action="CreateIssueBook" asp-controller="Issue" method="post">
			<p>
				<label >Title</label>
				<select name="BookId" class=" form-control" asp-items="ViewBag.books">
					<option value="">--select-Book---</option>
				</select>
				
			</p>
			<p>
				<label>User Name</label>
				<select name="UserId" class=" form-control" asp-items="ViewBag.members">
					<option value="">--select User---</option>
				</select>
			</p>
			<p>
				<label>Issue Date</label>
				<input type="date" name="IssueDate" class="form-control" />
			</p>
			<p>
				<label>Expected Return Date</label>
				<input type="date" name="ExpectedReturnDate" class="form-control" />
			</p>

			<p>
				<button type="submit" class="btn btn-success btn-lg">Submit</button>
				<button type="reset" class="btn btn-danger btn-lg">Reset</button>
			</p>
		</form>
	</div>
	<div calss="col-sm-3"></div>
</div> *@
